<div class="container">
<h1>Flashcards</h1>
<a href="/flashcards">Flashcards</a>
<br>
<a href="/flashcards/new">Add A New Flashcard</a>
<br><br>
<% if @flashcards.any?() %>
    <div class="row">
    <% @flashcards.each() do |flashcard| %>
      <!-- <div class="col-xs-6 col-md-4" id="flashcard_design"> -->

          <div id="card">
            <div class="front">
              <p><%= flashcard.question() %> <spand id="flashcard-id"><% flashcard.id() %></span></p>
            </div>
            <div class="back">
              <p><%= flashcard.answer() %></p>
            </div>
          </div>
          <% end %>
       </div>
   <% else %>
  <h4>No flashcards added yet.</h4>
<% end %>


</div>
