<h1>Add a New Flashcard</h1>
<form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags/<%= @tag.id()%>/flashcards/new" method="post">
  <div class="form-group">
    <label for="question">Question: </label>
    <input id="question" name="question" type="text"  class="form-control">
  </div>

  <div class="form-group">
    <label for="answer">Answer: </label>
    <input id="answer" name="answer" type="text"  class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
