<a href="/projects">Projects</a>
<br>
<a href="/projects/new">Add new project</a>
<br>
<a href="/tips">Tips</a>
<br>
<a href="/tips/new">Add new tip</a>
<br>
<a href="/tags">Tags</a>
<br>
<a href="/flashcards">Flashcards</a>
<br>
<a href="/flashcards/new">Add A New Flashcard</a>
