<div class="container">

  <div class="row">
    <div class="home-icon">
    <a href="/"><img src="/img/logo.png" alt="logo" class="mt-5"/></a>
    </div>
    <div class="col-md-6 offset-md-3">
      <div id="language-menu">
        <h2>Select Language</h2>
        <% if @languages.any?() %>
          <form class="" action="/users/<%= @user.id%>/languages/" method="post">
            <div class="form-group">
              <select class="form-control form-control-lg" id="language_id" name ="language_id" type="text">
                <% @languages.each() do |language| %>
                  <option value="<%= language.id()%>"> <%= language.name() %> </option>
                <% end %>
              </select>
            </div>
            <br>
            <button class="btn btn-primary btn-lg" type="submit">Study</button>
            <button type="button" class="btn btn-success btn-lg ml-2 add_language">Add language </button>
          </form>

          <% else  %>
            <div class="form-group">
              <select class="form-control form-control-lg" id="language_id" name ="language_id" type="text">
                  <option value=0>No languages yet</option>
              </select>
              <button type="submit" class="btn btn-primary btn-lg mt-4 add_language">Add language </button>
          <% end %>
      </div>



    <div id="add_language" >
      <form action="/users/<%= @user.id() %>/languages/new" method="post">
        <div class="row">
          <div class="col-md-5 offset-md-2">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="Add new language">
            </div>
          </div>
          <div class="col-md-2">
            <div class="btn-group">
              <button class="btn btn-secondary" type="submit">Add</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    </div>
  </div>
</div>
