<div class="row">
  <div class="col-md-6">
    <h2>Please choose a language you want to add notes to</h2>
    <% if @languages.any?() %>
      <ul>
        <% @languages.each() do |language| %>
          <li><a href="/user/<%= @user.id()%>/languages/<%= language.id()%>"><%= language.name() %></a></li>
        <% end %>
      </ul>
      <% end %>
  </div>
  <div class="col-md-6">
    <form action="/<%= @user.id() %>add_language" method="post">

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name">
      </div>
      <div class="btn-group">
        <button class="btn btn-success" type="submit">Add Language</button>
      </div>
    </form>
  </div>
</div>
