<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div id="user_sign_in">
        <form action="/users_login" class="form-signin" method="post">
          <h2 class="form-signin-heading">Member Login</h2>
          <hr>
          <input type="text" id="login_name" name="login_name" class="form-control" placeholder="User Name" required autofocus>
          <br>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
          <br>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
      <br>
      <div class="errors-msg">
        <!-- Incorret Password -->
        <% if @user_input_name && @user == nil %>
          <p>The username you’ve entered doesn’t match any account.</p>
        <% elsif (@password != nil) && (@user.password != nil) && (@user.password() != @password) %>
          <p>Wrong Password!</p>
        <% end  %>
      </div>
      <div class="home-icon">
      <a href="/"><i class="fa fa-home fa-3x mt-5" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
