
body {
    font-family: 'Trebuchet MS', sans-serif;
}

#cover {
  height: 20rem;
  background-color: #777;
  background: url('../img/dashboard1.jpg') center center no-repeat;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}



#cover-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#cover-caption p {
  font-size: 2em;
}

.projects_button  {
  width: 300px;
  height: 200px;
  border: 2px;
  border-radius: 5px;
  font-size: 3em;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 25%;

}

#pink {
  background-color: #FF6666;
}

#blue {
  background-color: #5bc0eb;
}

#yellow {
  background-color: #f9c80e;
}

#green {
  background-color: #9fd356;
}
.button_text {
  vertical-align: middle;
  line-height: 200px


}
 .dashboard_button a:hover, #header_link{
  text-decoration: none;
  text-align: center;

}



/***********/
/**Tips*****/
/***********/
.tip_header {
  background-color: #9fd356;
  padding-left: 2rem;
  border-bottom: 3px solid white;
}
.tip_card {
  border: 3px solid white;

}

.tip_description {
  background-color: #333;
}

/*Project CSS styles*/
.project_card{
  background-color:#5bc0eb;
}

.project_card_header{
  background-color:#5bc0eb;
}

.card-blockquote{
  background-color:#333;
}

.project_form_group{
margin: 50px;
padding-bottom:-20px;
}
