
body {
    font-family: 'Trebuchet MS', sans-serif;
}

#cover {
  height: 20rem;
  background-color: #777;
  background: url('../img/dashboard1.jpg') center center no-repeat;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}



#cover-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#cover-caption p {
  font-size: 2em;
}

.projects_button  {
  width: 300px;
  height: 200px;
  border: 2px;
  border-radius: 5px;
  font-size: 3em;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 30px;

}

#pink {
  background-color: #FF6666;
}

#blue {
  background-color: #5bc0eb;
}

#yellow {
  background-color: #f9c80e;
}

#green {
  background-color: #9fd356;
}
.button_text {
  vertical-align: middle;
  line-height: 200px;

}
 .dashboard_button a:hover {
  text-decoration: none;
}
