/*#cover {
  height: 32rem;
  background-color: #777;
  background: url('../img/cover.jpg') center center no-repeat;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
}*/



#cover-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#cover-caption p{
  font-size: 35px;
}

.projects_button {
  width: 300px;
  height: 200px;
  background-color: #FF6666;
  border: 2px;
  border-radius: 5px;
  font-size: 40px;
  font-family: helvetica;
  vertical-align: middle;
  line-height: 200px;
}

 .dashboard_button a:hover {
  text-decoration: none;
}
