/*body {

}*/

.stage {
 -webkit-perspective: 1000;                   /* Sets up your viewpoint for seeing the animation */
 display:inline-block;
   float:none;
   /* reset the text-align */
   /*text-align:left;*/
   /* inline-block space fix */
   /*margin-left: 4.5%;*/


}

.flashcard {
  height: 50rem;
  width: 70rem;
  margin: 10% auto;                                              /* Centers the flashcard on the page */
  /*border: 10px solid gray;                            /*  Border makes the animation easier to see. */*/
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;                                 /* Provides 3D perspective. */
  transition: all 0.3s;                                /* Slows down any transitions (e.g. rotation) */
  -webkit-transition: all 0.3s;
  text-align: center;


}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);                      /* Rotates flashcard div when applied */
}

.front, .back {
  display:inline-block;
  position: absolute;
  left: 0;
  -webkit-backface-visibility: hidden;           /*  Hides back side of text (it's upside down) */
  height: 50rem;                                   /* Stretches side to inhabit full size of flashcard */
  width: 70rem;
  text-align: center;
  padding: 50px;
  margin: auto;
  color: black;
  background-color: white;
  padding-top: 200px;
}

.front {
  padding-top: 200px;
  font-style: italic;
}

.front p, .back p {
  font-size: 3.75rem;
}


.front_preview  {
  background-image: url("../img/index2.jpg");
  height: 300px;
  width:  500px;
  color: black;
  font-size: 2em;
  padding: 5%;
  margin: 10% auto;
}

.back_preview {
  display: none;
}

/*.flashcard_preview {
  height: 300px;
  width:  500px;
  margin: 10% auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  padding: 10px;
  background-image: url("../img/index2.jpg")
  font-size: 2em;
}*/

.flashcard_text {

}
.row-centered {
  text-align: center;
}

.limit {
  height:300px;
  word-wrap: break-word;
}
.delete_button {
  max-width:9%;
  height:auto;
  position: absolute;
  bottom: 70px;
  right:5px;
}
