

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

* {
  position: relative;;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);

  background: url('../img/cutekid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.site-wrapper-inner {
  display: table-cell;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Header
 */
 .cover-heading{}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.inner {
  padding: 2rem;
  position: absolute;
  left: 30rem;
  padding-bottom: 10%;
  top: -7rem;
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .cover-container {
    width: 42rem;
  }
}

#flashcard_design {

  border-style: solid;
  border-width: medium;
  border-color: white;
  margin: 7px;
  height: 70px;
  padding: 5px;
}

/* User Login Form*/

#user_sign_up,
#user_sign_in,
#language-menu,
#add_language {
  vertical-align: middle;
  margin-top: 16rem;
}

.errors-msg {
  position: absolute;
  color: yellow;
}

.home-icon {
  margin-top: 6rem;
}

.errors-msg ul{
  list-style: none;
  text-align: left;
}

/*Dashboard*/
.jumbotron {
  margin-bottom: 0;
}


/*Languages Page*/

#language-menu h2,
#add_language h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
